.container{
    background-color:  rgba(251, 77, 77, 0.673);
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 4vmax 8vmax;
    box-sizing: border-box;


}
.container > form{
    display: flex;
    flex-direction: column;
}
.container > form > input,textarea,button{
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    margin: 10px 0;
    font-size: 1rem;
}
button{
    border: none;
    cursor: pointer;
    background-color: rgb(121, 57, 57);
    color: white;
}
.container >h1{
    text-align: center;
    margin: 30px;
}

.task{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}
.task > div{
    width: 100%;
}
task > span{
    color: black;
}
.task > button{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}